@model VeggieBack.Models.User
@{
    ViewData["Title"] = "Chat | Veggie";
}

@using (Html.BeginForm("Index", "Chat", FormMethod.Post)) {
    if (ViewBag.Message != null) {
        <div class="alert alert-danger alert-dismissible fade show col-5" style="position: absolute; top: 10px; left: 680px;" role="alert">
            <strong>¡Error! </strong> @ViewBag.Message
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/chat-style/chatN.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <div class="container py-5 px-4" style="top: 200px;">
        <div class="row rounded-lg overflow-hidden shadow">
            <!-- Users box-->
            <div class="col-5 px-0">
                <div class="bg-white">
                    <div class="bg-gray px-4 py-1 bg-light">
                        <p class="h5 mb-0 py-1">Conversaciones</p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Buscar contacto" id="username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary fa fa-search" id="searchBar" type="button"></button>
                            </div>
                            <script type="text/javascript">
                                $('#searchBar').click(function () {
                                    var username = $("#username").val();
                                    $.get("/Chat/SearchUser", { username: username }, function (data) {
                                        location.reload();
                                    });
                                }
                                );
                            </script>
                        </div>
                    </div>
                    <div class="messages-box">
                        <div class="list-group rounded-0" id="user">
                            @if (Veggie.Services.Storage.Instance.contacts.Count != 0) {
                                foreach (var item in Veggie.Services.Storage.Instance.contacts) {
                                    <a class="list-group-item list-group-item-success alert-success rounded-0" id="userCon">
                                        <div class="media">
                                            <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                                            <div class="media-body ml-4">
                                                <div class="d-flex align-items-center justify-content-between mb-1">
                                                    <h6 class="mb-0" onclick="location.href='@Url.Action("getMessages", new { usernameS = item.username })'">@item.username</h6>
                                                </div>
                                                <p class="font-italic mb-0 text-small">@item.email</p>
                                            </div>
                                        </div>
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chat Box-->
            <div class="col-7 px-0 py-0">
                <div class="bg-gray px-4 py-1 bg-light">
                    @if (Veggie.Services.Storage.Instance.actualConversation.sendUser != null)
                    {
                        <p class="h5 mb-0 py-1">@Veggie.Services.Storage.Instance.actualConversation.sendUser</p>
                    }
                    else
                    {
                        <p class="h5 mb-0 py-1">Seleccione una conversación</p>
                    }
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar mensaje" id="messageS" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary fa fa-search" id="searchMessage" type="button"></button>
                        </div>
                        <script type="text/javascript">
                            $('#searchMessage').click(function () {
                                var messageSearch = $("#messageS").val();
                                $.get("/Chat/searchMessage", { searchMessage: messageSearch }, function (data) {
                                    location.reload();
                                });
                            }
                            );
                        </script>
                    </div>
                </div>
                <div class="px-4 py-5 chat-box bg-white" style="height: 462px">

                    @if (Veggie.Services.Storage.Instance.messages.Count != 0) {
                        foreach (var item in Veggie.Services.Storage.Instance.messages) {
                            if (item.receivingUser == Veggie.Services.Storage.Instance.actualConversation.sendUser) {
                                <div class="media w-50 ml-auto mb-3">
                                    <div class="media-body">
                                        <div class="bg-primary rounded py-2 px-3 mb-2">
                                            <p class="text-small mb-0 text-white">@item.message</p>
                                        </div>
                                        <p class="small text-muted">@item.messageTime</p>
                                    </div>
                                </div>
                            }
                            else {
                                <div class="media w-50 mb-3">
                                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                                    <div class="media-body ml-3">
                                        <div class="bg-light rounded py-2 px-3 mb-2">
                                            <p class="text-small mb-0 text-muted">@item.message</p>
                                        </div>
                                        <p class="small text-muted">@item.messageTime</p>
                                    </div>
                                </div>
                            }
                        }
                     }

                </div>

                <form action="#" class="bg-light">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-light fa fa-redo-alt" id="refresh" type="button"></button>
                        </div>
                        <input type="text" placeholder="Escribe un mensaje" aria-describedby="button-addon2" id="message" class="form-control rounded-0 border-0 py-4 bg-light">
                        <div class="input-group-append">
                            <button class="btn btn-light fa fa-folder" id="upload" type="button"></button>
                            <button class="btn btn-light fa fa-paper-plane" id="send" type="button"></button>
                        </div>
                    </div>
                </form>
                <script type="text/javascript">
                    $('#send').click(function () {
                        var messa = $("#message").val();
                        $.get("/Chat/SendMessage", { message: messa }, function (data) {
                            location.reload();
                        });
                    }
                    );
                </script>

                <script type="text/javascript">
                    $('#refresh').click(function () {
                        $.get("/Chat/refresh", { message: "." }, function (data) {
                            location.reload();
                        });
                    }
                    );
                </script>
            </div>
        </div>
    </div>
}
